## Groud Truth

In [3]:
import pandas
import numpy as np
from utils import *
df = pandas.read_csv('./HEXACO.csv')
# Honesty-Humility	Emotionality	eXtraversion	Agreeableness	Conscientiousness	Openness to Experience
gt = df[['id','Honesty-Humility','Emotionality','eXtraversion','Agreeableness','Conscientiousness','Openness to Experience']].rename(columns={'Honesty-Humility':'h',
                                  'Emotionality':'e',
                                  'eXtraversion':'x',
                                 'Agreeableness':'a',
                             'Conscientiousness':'c',
                        'Openness to Experience':'o'})
gt

    id     h     e     x     a     c     o
0    2  3.63  3.19  2.94  2.38  3.38  2.38
1    3  3.38  3.44  3.50  3.50  4.50  3.81
2    4  3.19  3.75  3.69  3.19  2.63  2.63
3    5  3.25  3.63  2.13  3.56  3.63  2.31
4    6  3.25  2.75  3.50  2.50  3.75  5.00
5    7  4.06  3.06  3.38  2.88  2.50  4.19
6    8  3.94  2.94  3.19  3.75  3.38  3.81
7    9  4.44  4.00  3.38  3.75  3.69  3.31
8   10  3.63  3.25  3.50  3.31  3.88  2.69
9   11  3.31  4.00  2.25  3.19  2.81  3.19
10  12  2.81  3.44  3.13  3.56  3.25  3.75
11  13  3.06  3.06  3.00  2.69  3.31  3.44
12  14  4.63  3.69  2.25  3.13  2.94  2.63
13  15  3.75  2.94  2.94  3.50  4.19  3.19
14  16  4.19  4.25  1.88  2.81  3.25  3.81
15  17  4.25  3.00  4.00  2.50  3.25  3.25
16  18  2.81  3.31  2.06  2.75  3.00  3.19
17  20  3.25  3.31  4.31  3.44  2.00  4.25
18  21  4.06  3.00  2.88  3.56  3.81  3.81
19  22  3.50  3.88  1.88  2.63  3.94  3.69
20  23  3.13  4.19  3.00  2.38  2.88  3.88
21  25  3.25  3.44  3.75  3.50  3.88  3.44
22  26  3.50  3.19  2.44  2.94  2.44  3.25
23  27  2.63  3.88  3.81  3.88  3.31  3.88
24  28  3.19  4.31  2.19  1.88  2.56  3.25
25  29  3.56  4.38  2.06  2.94  3.44  4.56
26  30  4.50  3.81  2.44  3.13  2.94  4.31
27  31  4.06  3.56  2.63  3.31  3.75  4.06
28  32  2.75  3.25  3.75  2.81  3.06  3.31
29  33  4.00  3.56  2.38  3.63  3.63  3.19
30  34  3.38  2.69  3.69  3.31  3.81  3.50
31  35  3.69  3.44  3.56  4.00  3.38  4.38
32  36  3.56  4.56  3.31  3.63  4.38  4.31

## EEG Data

In [1]:
from os import walk
path, folders, filenames = next(walk('./data'))
print(filenames)

['29-audio.csv', '5-audio.csv', '10-audio.csv', '17-audio.csv', '10-image.csv', '14-audio.csv', '33-audio.csv', '31-audio.csv', '20-audio.csv', '13-image.csv', '25-image.csv', '5-image.csv', '9-aduio.csv', '14-image.csv', '22-image.csv', '7-image.csv', '23-audio.csv', '28-image.csv', '15-audio.csv', '25-audio.csv', '32-audio.csv', '21-image.csv', '23-image.csv', '2-audio.csv', '36-audio.csv', '26-audio.csv', '12-audio.csv', '3-image.csv', '2-image.csv', '35-image.csv', '12-image.csv', '30-image.csv', '36-image.csv', '27-audio.csv', '15-image.csv', '32-image.csv', '26-image.csv', '8-audio.csv', '34-image.csv', '6-aduio.csv', '8-image.csv', '20-image.csv', '9-image.csv', '3-audio.csv', '35-audio.csv', '16-audio.csv', '22-audio.csv', '17-image.csv', '7-audio.csv', '11-audio.csv', '18-image.csv', '27-image.csv', '29-image.csv', '13-audio.csv', '6-image.csv', '30-audio.csv', '21-audio.csv', '31-image.csv', '33-image.csv', '34-audio.csv', '28-audio.csv', '11-image.csv', '16-image.csv', '18-audio.csv']

In [4]:
path = './data'
columns = {'Unnamed: 1':'Fp1',
        'Unnamed: 2':'Fp2',
        'Unnamed: 3':'F3',
        'Unnamed: 4':'F4',
        'Unnamed: 5':'F7',
        'Unnamed: 6':'F8',
        'Unnamed: 7':'P7',
        'Unnamed: 8':'P8'}
from itertools import product
categories = [1,2,3,4,5]
blocks = [1,2]
for filename in filenames:
    print(filename)
    data = pandas.read_csv(f'{path}/{filename}').rename(columns=columns).drop(columns='timestamps')
    for (category, block) in product(categories,blocks):
        print(category, block)

        # get_section_from_catblock(data, category=1,block=1)

1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
/home/akrarads/venv/hci/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2

In [32]:
data

array([[26829.492, 24516.086, 20050.811, ..., 19449.795, 23746.627, '0'],
       [26809.398, 24493.801, 20035.701, ..., 19428.182, 23723.939, '0'],
       [26832.666, 24519.283, 20056.689, ..., 19453.236, 23745.801, '0'],
       ...,
       [27240.451, 23181.084, 21133.439, ..., 20746.643, 24988.938, '0'],
       [27234.885, 23180.346, 21134.893, ..., 20740.162, 24985.652, '0'],
       [27235.623, 23181.576, 21140.637, ..., 20744.252, 24986.301, '0']],
      dtype=object)